@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700&display=swap");
/* font-family: 'Manrope', sans-serif; */
body {
  font-family: "Manrope", sans-serif;
}
.primery-color {
  color: #ff4240;
}
.color-border {
  color: rgba(19, 19, 24, 0.1);
}
.secondry-color {
  background-color: rgba(188, 237, 109, 0.1);
}
.social-bg {
  background-color: rgba(19, 19, 24, 0.03);
}
.footer-bg {
  background: #131318;
}
.phone-number-bg {
  background: rgba(188, 237, 109, 0.1);
}
.email-bg {
  background: rgba(253, 221, 95, 0.1);
}
.location-bg {
  background: rgba(98, 156, 243, 0.1);
}
